.image-center .image>a>img {
  margin: 0 auto;
}

.csc-header-alignment-center {
  text-align: center;
}

.csc-header-alignment-right {
  text-align: right;
}

.csc-header-alignment-left {
  text-align: left;
}

div.csc-textpic,div.csc-textpic div.csc-textpic-imagerow {
  overflow: hidden;
}

.csc-textpic-imagewrap img {
  display: block;
}

div.csc-textpic-center .csc-textpic-imagewrap,div.csc-textpic-center figure.csc-textpic-imagewrap {
  overflow: hidden;
}

div.csc-textpic-right .csc-textpic-imagewrap {
  float: right;
}

div.csc-textpic-right div.csc-textpic-text {
  clear: right;
}

div.csc-textpic-left .csc-textpic-imagewrap {
  float: left;
}

div.csc-textpic-left div.csc-textpic-text {
  clear: left;
}

div.csc-textpic-intext-left .csc-textpic-imagewrap {
  float: left;
}

div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,div.csc-textpic-intext-right .csc-textpic-imagewrap {
  float: right;
}

div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
  float: left;
}

.csc-textpic-intext-right-nowrap .csc-textpic-text {
  margin-right: 0;
}

.csc-textpic-intext-left-nowrap .csc-textpic-text {
  margin-left: 0;
}

.csc-textpic-center .csc-textpic-imagewrap {
  margin-right: auto;
  margin-left: auto;
}

.csc-textpic-image {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}

.csc-textpic-imagerow:last-child .csc-textpic-image {
  padding-bottom: 0;
}

.csc-textpic-image img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.csc-textpic-border img {
  border: 1px solid #ccc;
}

.csc-textpic-imagewrap,.csc-textpic-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.csc-textpic-intext-left-nowrap .csc-textpic-text,.csc-textpic-intext-left .csc-textpic-text {
  float: right;
}

.csc-textpic-intext-right-nowrap .csc-textpic-text,.csc-textpic-intext-right .csc-textpic-text {
  float: left;
}

html {
  position: relative;
  min-width: 320px;
}

* {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  color: inherit;
}

*,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: ubuntu,Arial,Helvetica,sans-serif;
  font-size: 135%;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  text-decoration: none;
  letter-spacing: .01em;
  color: #323232;
  border: none;
  background: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  -webkit-background-size: cover;
  background-size: cover;
}

#inhalt {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.clear {
  font-size: 0;
  clear: both;
  height: 468px;
}

#meta {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 125%;
  margin: 0 0 .6em;
  color: #323232;
}

.color5 {
  color: #ff991a!important;
}

.color6 {
  color: #ff251a!important;
}

.color7 {
  color: #81ff1a!important;
}

.color8 {
  color: #1a81ff!important;
}

img {
  max-width: 100%;
  height: auto;
}

a:link,a:visited {
  text-decoration: none;
  color: #ff991a;
}

a:active,a:focus,a:hover {
  text-decoration: underline;
  color: #ff991a;
}

.csc-textpic-imagewrap a:active,.csc-textpic-imagewrap a:focus,.csc-textpic-imagewrap a:hover,.csc-textpic-imagewrap a:link,.csc-textpic-imagewrap a:visited,a img {
  border: none;
}

[data-csc-cols="2"] .csc-textpic-image {
  max-width: 50%;
}

[data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:first-child {
  padding-right: 20px;
  padding-left: 0;
}

[data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
  padding-right: 0;
  padding-left: 20px;
}

[data-csc-cols="3"] .csc-textpic-image {
  max-width: 33.333333333333%;
}

[data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:first-child {
  padding-right: 26.666666666667px;
  padding-left: 0;
}

[data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
  padding-right: 13.333333333333px;
  padding-left: 13.333333333333px;
}

[data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
  padding-right: 0;
  padding-left: 26.666666666667px;
}

[data-csc-cols="4"] .csc-textpic-image {
  max-width: 25%;
}

[data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:first-child {
  padding-right: 30px;
  padding-left: 0;
}

[data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
  padding-right: 20px;
  padding-left: 10px;
}

[data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
  padding-right: 10px;
  padding-left: 20px;
}

[data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
  padding-right: 0;
  padding-left: 30px;
}

[data-csc-cols="5"] .csc-textpic-image {
  max-width: 20%;
}

[data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:first-child {
  padding-right: 32px;
  padding-left: 0;
}

[data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
  padding-right: 24px;
  padding-left: 8px;
}

[data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
  padding-right: 16px;
  padding-left: 16px;
}

[data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
  padding-right: 8px;
  padding-left: 24px;
}

[data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
  padding-right: 0;
  padding-left: 32px;
}

[data-csc-cols="6"] .csc-textpic-image {
  max-width: 16.666666666667%;
}

[data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:first-child {
  padding-right: 33.333333333333px;
  padding-left: 0;
}

[data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
  padding-right: 26.666666666667px;
  padding-left: 6.6666666666667px;
}

[data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
  padding-right: 20px;
  padding-left: 13.333333333333px;
}

[data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
  padding-right: 13.333333333333px;
  padding-left: 20px;
}

[data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
  padding-right: 6.6666666666667px;
  padding-left: 26.666666666667px;
}

[data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
  padding-right: 0;
  padding-left: 33.333333333333px;
}

[data-csc-cols="7"] .csc-textpic-image {
  max-width: 14.285714285714%;
}

[data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:first-child {
  padding-right: 34.285714285714px;
  padding-left: 0;
}

[data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
  padding-right: 28.571428571429px;
  padding-left: 5.7142857142857px;
}

[data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
  padding-right: 22.857142857143px;
  padding-left: 11.428571428571px;
}

[data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
  padding-right: 17.142857142857px;
  padding-left: 17.142857142857px;
}

[data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
  padding-right: 11.428571428571px;
  padding-left: 22.857142857143px;
}

[data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
  padding-right: 5.7142857142857px;
  padding-left: 28.571428571429px;
}

[data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
  padding-right: 0;
  padding-left: 34.285714285714px;
}

[data-csc-cols="8"] .csc-textpic-image {
  max-width: 12.5%;
}

[data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:first-child {
  padding-right: 35px;
  padding-left: 0;
}

[data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
  padding-right: 30px;
  padding-left: 5px;
}

[data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
  padding-right: 25px;
  padding-left: 10px;
}

[data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
  padding-right: 20px;
  padding-left: 15px;
}

[data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
  padding-right: 15px;
  padding-left: 20px;
}

[data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
  padding-right: 10px;
  padding-left: 25px;
}

[data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
  padding-right: 5px;
  padding-left: 30px;
}

[data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(8) {
  padding-right: 0;
  padding-left: 35px;
}

.csc-textpic-image {
  padding-bottom: 40px;
}

.csc-textpic-intext-left-nowrap .csc-textpic-text,.csc-textpic-intext-left .csc-textpic-text {
  padding-left: 30px;
}

.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,.csc-textpic-intext-left .csc-textpic-imagewrap,.csc-textpic-intext-right-nowrap .csc-textpic-text,.csc-textpic-intext-right .csc-textpic-text {
  padding-right: 30px;
}

.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,.csc-textpic-intext-right .csc-textpic-imagewrap {
  padding-left: 30px;
}

.csc {
  overflow: hidden;
}

.csc .csc {
  overflow: visible;
}

.style1.op1 {
  background: #fff;
}

.style1.op05 {
  background: #fff;
  background: hsla(0,0%,100%,.75);
}

.style2.op1 {
  background: #6b6a6b;
}

.style2.op05 {
  background: #6b6a6b;
  background: hsla(300,0%,42%,.75);
}

.style3.op1 {
  background: #e7e7e7;
}

.style3.op05 {
  background: #e7e7e7;
  background: hsla(0,0%,91%,.75);
}

.style2 *,.style2 * h1,.style2 * h2,.style2 * h3,.style2 * h4,.style2 * h5 {
  color: #fff;
}

.style2 * a:active,.style2 * a:focus,.style2 * a:hover,.style2 * a:link,.style2 * a:visited {
  color: #ffb04d;
}

.style3 *,.style3 * h1,.style3 * h2,.style3 * h3,.style3 * h4,.style3 * h5 {
  color: #474647;
}

.style3 * a:active,.style3 * a:focus,.style3 * a:hover,.style3 * a:link,.style3 * a:visited {
  color: #ff991a;
}

.ce {
  width: 1170px;
  margin: 60px auto;
}

.ce.shortcut {
  margin-bottom: 0;
}

.shortcut:after {
  display: block;
  clear: both;
  height: 0;
  content: " ";
}

.shortcut>* {
  margin-bottom: 60px;
}

.h33,.h50,.h100 {
  background-position: top;
  -webkit-background-size: cover;
  background-size: cover;
}

.h33 .ce,.h50 .ce,.h100 .ce {
  height: 100%;
}

.csc.gap100 {
  margin-top: 404px;
  margin-top: 95vh;
  margin-top: -webkit-calc(100vh - 96px);
  margin-top: calc(100vh - 96px);
}

.csc.gap75 {
  margin-top: 303px;
  margin-top: 70vh;
  margin-top: -webkit-calc(75vh - 72px);
  margin-top: calc(75vh - 72px);
}

.csc.gap66 {
  margin-top: 269.0064px;
  margin-top: 62vh;
  margin-top: -webkit-calc(66.66vh - 63.9936px);
  margin-top: calc(66.66vh - 63.9936px);
}

.csc.gap50 {
  margin-top: 202px;
  margin-top: 45vh;
  margin-top: -webkit-calc(50vh - 48px);
  margin-top: calc(50vh - 48px);
}

.csc.gap33 {
  margin-top: 135.0032px;
  margin-top: 28vh;
  margin-top: -webkit-calc(33.33vh - 31.9968px);
  margin-top: calc(33.33vh - 31.9968px);
}

.csc.gap25 {
  margin-top: 101px;
  margin-top: 22.5vh;
  margin-top: -webkit-calc(25vh - 24px);
  margin-top: calc(25vh - 24px);
}

.csc.gap15 {
  margin-top: 60.6px;
  margin-top: 14vh;
  margin-top: -webkit-calc(15vh - 14.4px);
  margin-top: calc(15vh - 14.4px);
}

.csc.gap10 {
  margin-top: 40.4px;
  margin-top: 9vh;
  margin-top: -webkit-calc(10vh - 9.6px);
  margin-top: calc(10vh - 9.6px);
}

.w100 {
  margin-bottom: 60px;
}

.w66 {
  width: 64.17%;
  width: -webkit-calc(66.666% - 30px);
  width: calc(66.666% - 30px);
}

.w50 {
  width: 47.5%;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.w33 {
  width: 30%;
  width: -webkit-calc(33.333% - 40px);
  width: calc(33.333% - 40px);
}

.w25 {
  width: 21.3%;
  width: -webkit-calc(25% - 45px);
  width: calc(25% - 45px);
}

.posleft {
  float: left;
}

.posright {
  float: right;
}

.csc-firstHeader {
  margin-top: 0;
}

@-webkit-keyframes a {
  0% {
    display: none;
    overflow: hidden;
    max-height: 0;
  }

  1% {
    display: block;
    overflow: hidden;
    max-height: 0;
  }

  99% {
    display: block;
    overflow: hidden;
    max-height: 900px;
  }

  to {
    display: block;
    overflow: visible;
    max-height: none;
  }
}

@-o-keyframes a {
  0% {
    display: none;
    overflow: hidden;
    max-height: 0;
  }

  1% {
    display: block;
    overflow: hidden;
    max-height: 0;
  }

  99% {
    display: block;
    overflow: hidden;
    max-height: 900px;
  }

  to {
    display: block;
    overflow: visible;
    max-height: none;
  }
}

@keyframes a {
  0% {
    display: none;
    overflow: hidden;
    max-height: 0;
  }

  1% {
    display: block;
    overflow: hidden;
    max-height: 0;
  }

  99% {
    display: block;
    overflow: hidden;
    max-height: 900px;
  }

  to {
    display: block;
    overflow: visible;
    max-height: none;
  }
}

@-webkit-keyframes b {
  0% {
    display: block;
    overflow: visible;
    max-height: none;
  }

  1% {
    display: block;
    overflow: hidden;
    max-height: 900px;
  }

  99% {
    display: block;
    overflow: hidden;
    max-height: 0;
  }

  to {
    display: none;
    overflow: hidden;
    max-height: 0;
  }
}

@-o-keyframes b {
  0% {
    display: block;
    overflow: visible;
    max-height: none;
  }

  1% {
    display: block;
    overflow: hidden;
    max-height: 900px;
  }

  99% {
    display: block;
    overflow: hidden;
    max-height: 0;
  }

  to {
    display: none;
    overflow: hidden;
    max-height: 0;
  }
}

@keyframes b {
  0% {
    display: block;
    overflow: visible;
    max-height: none;
  }

  1% {
    display: block;
    overflow: hidden;
    max-height: 900px;
  }

  99% {
    display: block;
    overflow: hidden;
    max-height: 0;
  }

  to {
    display: none;
    overflow: hidden;
    max-height: 0;
  }
}

@media (min-width:1250px) and (max-width:1519px) {
  body {
    font-size: 108%;
  }

  .clear {
    height: 468px;
  }

  [data-csc-cols="2"] .csc-textpic-image {
    max-width: 50%;
  }

  [data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 20px;
    padding-left: 0;
  }

  [data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 0;
    padding-left: 20px;
  }

  [data-csc-cols="3"] .csc-textpic-image {
    max-width: 33.333333333333%;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 26.666666666667px;
    padding-left: 0;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 13.333333333333px;
    padding-left: 13.333333333333px;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 0;
    padding-left: 26.666666666667px;
  }

  [data-csc-cols="4"] .csc-textpic-image {
    max-width: 25%;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 30px;
    padding-left: 0;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 20px;
    padding-left: 10px;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 10px;
    padding-left: 20px;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 0;
    padding-left: 30px;
  }

  [data-csc-cols="5"] .csc-textpic-image {
    max-width: 20%;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 32px;
    padding-left: 0;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 24px;
    padding-left: 8px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 16px;
    padding-left: 16px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 8px;
    padding-left: 24px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 0;
    padding-left: 32px;
  }

  [data-csc-cols="6"] .csc-textpic-image {
    max-width: 16.666666666667%;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 33.333333333333px;
    padding-left: 0;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 26.666666666667px;
    padding-left: 6.6666666666667px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 20px;
    padding-left: 13.333333333333px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 13.333333333333px;
    padding-left: 20px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 6.6666666666667px;
    padding-left: 26.666666666667px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 0;
    padding-left: 33.333333333333px;
  }

  [data-csc-cols="7"] .csc-textpic-image {
    max-width: 14.285714285714%;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 34.285714285714px;
    padding-left: 0;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 28.571428571429px;
    padding-left: 5.7142857142857px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 22.857142857143px;
    padding-left: 11.428571428571px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 17.142857142857px;
    padding-left: 17.142857142857px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 11.428571428571px;
    padding-left: 22.857142857143px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 5.7142857142857px;
    padding-left: 28.571428571429px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
    padding-right: 0;
    padding-left: 34.285714285714px;
  }

  [data-csc-cols="8"] .csc-textpic-image {
    max-width: 12.5%;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 35px;
    padding-left: 0;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 30px;
    padding-left: 5px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 25px;
    padding-left: 10px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 20px;
    padding-left: 15px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 15px;
    padding-left: 20px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 10px;
    padding-left: 25px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
    padding-right: 5px;
    padding-left: 30px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(8) {
    padding-right: 0;
    padding-left: 35px;
  }

  .csc-textpic-image {
    padding-bottom: 40px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-text,  .csc-textpic-intext-left .csc-textpic-text {
    padding-left: 30px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-left .csc-textpic-imagewrap,  .csc-textpic-intext-right-nowrap .csc-textpic-text,  .csc-textpic-intext-right .csc-textpic-text {
    padding-right: 30px;
  }

  .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-right .csc-textpic-imagewrap {
    padding-left: 30px;
  }

  .ce {
    width: 1170px;
    margin: 60px auto;
  }

  .shortcut>* {
    margin-bottom: 60px;
  }

  .csc.gap100 {
    margin-top: 404px;
    margin-top: 95vh;
    margin-top: -webkit-calc(100vh - 96px);
    margin-top: calc(100vh - 96px);
  }

  .csc.gap75 {
    margin-top: 303px;
    margin-top: 70vh;
    margin-top: -webkit-calc(75vh - 72px);
    margin-top: calc(75vh - 72px);
  }

  .csc.gap66 {
    margin-top: 269.0064px;
    margin-top: 62vh;
    margin-top: -webkit-calc(66.66vh - 63.9936px);
    margin-top: calc(66.66vh - 63.9936px);
  }

  .csc.gap50 {
    margin-top: 202px;
    margin-top: 45vh;
    margin-top: -webkit-calc(50vh - 48px);
    margin-top: calc(50vh - 48px);
  }

  .csc.gap33 {
    margin-top: 135.0032px;
    margin-top: 28vh;
    margin-top: -webkit-calc(33.33vh - 31.9968px);
    margin-top: calc(33.33vh - 31.9968px);
  }

  .w50 {
    width: 47.5%;
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .w33 {
    width: 30.833%;
    width: -webkit-calc(33.333% - 40px);
    width: calc(33.333% - 40px);
  }

  .w25 {
    width: 22.5%;
    width: -webkit-calc(25% - 45px);
    width: calc(25% - 45px);
  }

  .center {
    padding: 0 0 0 60px;
  }
}

@media (min-width:970px) and (max-width:1249px) {
  body {
    font-size: 97.2%;
  }

  .clear {
    height: 341px;
  }

  body h1 {
    font-size: 2.2em;
  }

  body h2 {
    font-size: 1.8em;
  }

  body h3 {
    font-size: 1.6em;
  }

  body h4 {
    font-size: 1.4em;
  }

  body h5 {
    font-size: 1.2em;
  }

  body h6 {
    font-size: 1.1em;
  }

  [data-csc-cols="2"] .csc-textpic-image {
    max-width: 50%;
  }

  [data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 12px;
    padding-left: 0;
  }

  [data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 0;
    padding-left: 12px;
  }

  [data-csc-cols="3"] .csc-textpic-image {
    max-width: 33.333333333333%;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 16px;
    padding-left: 0;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 8px;
    padding-left: 8px;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 0;
    padding-left: 16px;
  }

  [data-csc-cols="4"] .csc-textpic-image {
    max-width: 25%;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 18px;
    padding-left: 0;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 12px;
    padding-left: 6px;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 6px;
    padding-left: 12px;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 0;
    padding-left: 18px;
  }

  [data-csc-cols="5"] .csc-textpic-image {
    max-width: 20%;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 19.2px;
    padding-left: 0;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 14.4px;
    padding-left: 4.8px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 9.6px;
    padding-left: 9.6px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 4.8px;
    padding-left: 14.4px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 0;
    padding-left: 19.2px;
  }

  [data-csc-cols="6"] .csc-textpic-image {
    max-width: 16.666666666667%;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 20px;
    padding-left: 0;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 16px;
    padding-left: 4px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 12px;
    padding-left: 8px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 8px;
    padding-left: 12px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 4px;
    padding-left: 16px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 0;
    padding-left: 20px;
  }

  [data-csc-cols="7"] .csc-textpic-image {
    max-width: 14.285714285714%;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 20.571428571429px;
    padding-left: 0;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 17.142857142857px;
    padding-left: 3.4285714285714px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 13.714285714286px;
    padding-left: 6.8571428571429px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 10.285714285714px;
    padding-left: 10.285714285714px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 6.8571428571429px;
    padding-left: 13.714285714286px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 3.4285714285714px;
    padding-left: 17.142857142857px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
    padding-right: 0;
    padding-left: 20.571428571429px;
  }

  [data-csc-cols="8"] .csc-textpic-image {
    max-width: 12.5%;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 21px;
    padding-left: 0;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 18px;
    padding-left: 3px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 15px;
    padding-left: 6px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 12px;
    padding-left: 9px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 9px;
    padding-left: 12px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 6px;
    padding-left: 15px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
    padding-right: 3px;
    padding-left: 18px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(8) {
    padding-right: 0;
    padding-left: 21px;
  }

  .csc-textpic-image {
    padding-bottom: 24px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-text,  .csc-textpic-intext-left .csc-textpic-text {
    padding-left: 20px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-left .csc-textpic-imagewrap,  .csc-textpic-intext-right-nowrap .csc-textpic-text,  .csc-textpic-intext-right .csc-textpic-text {
    padding-right: 20px;
  }

  .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-right .csc-textpic-imagewrap {
    padding-left: 20px;
  }

  .ce {
    width: 878px;
    margin: 40px auto;
  }

  .shortcut>* {
    margin-bottom: 40px;
  }

  .csc.gap100 {
    margin-top: 324px;
    margin-top: 95vh;
    margin-top: -webkit-calc(100vh - 76px);
    margin-top: calc(100vh - 76px);
  }

  .csc.gap75 {
    margin-top: 243px;
    margin-top: 70vh;
    margin-top: -webkit-calc(75vh - 57px);
    margin-top: calc(75vh - 57px);
  }

  .csc.gap66 {
    margin-top: 215.9784px;
    margin-top: 62vh;
    margin-top: -webkit-calc(66.66vh - 50.6616px);
    margin-top: calc(66.66vh - 50.6616px);
  }

  .csc.gap50 {
    margin-top: 162px;
    margin-top: 45vh;
    margin-top: -webkit-calc(50vh - 38px);
    margin-top: calc(50vh - 38px);
  }

  .csc.gap33 {
    margin-top: 107.9892px;
    margin-top: 28vh;
    margin-top: -webkit-calc(33.33vh - 25.3308px);
    margin-top: calc(33.33vh - 25.3308px);
  }

  .w50 {
    width: 47.5%;
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
  }

  .w33 {
    width: 30.833%;
    width: -webkit-calc(33.333% - 26.66667px);
    width: calc(33.333% - 26.66667px);
  }

  .w25 {
    width: 21.3%;
    width: -webkit-calc(25% - 30px);
    width: calc(25% - 30px);
  }

  .center {
    padding: 0 0 0 40px;
  }
}

@media (max-width:969px) {
  body,  html {
    height: auto;
  }

  body {
    font-size: 108%;
  }

  .clear {
    height: 0;
  }

  body h1 {
    font-size: 2em;
    font-weight: 400;
  }

  body h2 {
    font-size: 1.5em;
    font-weight: 400;
  }

  body h3 {
    font-size: 1.3em;
    font-weight: 400;
  }

  body h4 {
    font-size: 1.25em;
    font-weight: 400;
  }

  body h5 {
    font-size: 1.2em;
    font-weight: 400;
  }

  body h6 {
    font-size: 1.1em;
    font-weight: 400;
  }

  .ce .ce,  img {
    width: auto;
  }

  .ce .ce {
    margin: 0 auto;
  }

  .w25,  .w33,  .w66 {
    float: none;
    clear: left;
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .h33 .ce0,  .h50 .ce0,  .h100 .ce0 {
    height: 100%;
  }

  .shortcut>* {
    margin-bottom: 30px;
  }
}

@media (min-width:640px) and (max-width:969px) {
  [data-csc-cols="2"] .csc-textpic-image {
    max-width: 50%;
  }

  [data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 10px;
    padding-left: 0;
  }

  [data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 0;
    padding-left: 10px;
  }

  [data-csc-cols="3"] .csc-textpic-image {
    max-width: 33.333333333333%;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 13.333333333333px;
    padding-left: 0;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 6.6666666666667px;
    padding-left: 6.6666666666667px;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 0;
    padding-left: 13.333333333333px;
  }

  [data-csc-cols="4"] .csc-textpic-image {
    max-width: 25%;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 15px;
    padding-left: 0;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 10px;
    padding-left: 5px;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 5px;
    padding-left: 10px;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 0;
    padding-left: 15px;
  }

  [data-csc-cols="5"] .csc-textpic-image {
    max-width: 20%;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 16px;
    padding-left: 0;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 12px;
    padding-left: 4px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 8px;
    padding-left: 8px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 4px;
    padding-left: 12px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 0;
    padding-left: 16px;
  }

  [data-csc-cols="6"] .csc-textpic-image {
    max-width: 16.666666666667%;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 16.666666666667px;
    padding-left: 0;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 13.333333333333px;
    padding-left: 3.3333333333333px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 10px;
    padding-left: 6.6666666666667px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 6.6666666666667px;
    padding-left: 10px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 3.3333333333333px;
    padding-left: 13.333333333333px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 0;
    padding-left: 16.666666666667px;
  }

  [data-csc-cols="7"] .csc-textpic-image {
    max-width: 14.285714285714%;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 17.142857142857px;
    padding-left: 0;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 14.285714285714px;
    padding-left: 2.8571428571429px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 11.428571428571px;
    padding-left: 5.7142857142857px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 8.5714285714286px;
    padding-left: 8.5714285714286px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 5.7142857142857px;
    padding-left: 11.428571428571px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 2.8571428571429px;
    padding-left: 14.285714285714px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
    padding-right: 0;
    padding-left: 17.142857142857px;
  }

  [data-csc-cols="8"] .csc-textpic-image {
    max-width: 12.5%;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 17.5px;
    padding-left: 0;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 15px;
    padding-left: 2.5px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 12.5px;
    padding-left: 5px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 10px;
    padding-left: 7.5px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 7.5px;
    padding-left: 10px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 5px;
    padding-left: 12.5px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
    padding-right: 2.5px;
    padding-left: 15px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(8) {
    padding-right: 0;
    padding-left: 17.5px;
  }

  .csc-textpic-image {
    padding-bottom: 20px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-text,  .csc-textpic-intext-left .csc-textpic-text {
    padding-left: 15px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-left .csc-textpic-imagewrap,  .csc-textpic-intext-right-nowrap .csc-textpic-text,  .csc-textpic-intext-right .csc-textpic-text {
    padding-right: 15px;
  }

  .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-right .csc-textpic-imagewrap {
    padding-left: 15px;
  }

  .w50 {
    width: 47.5%;
    width: -webkit-calc(50% - 15px);
    width: calc(50% - 15px);
  }

  .ce {
    width: 92%;
    margin: 30px auto;
  }

  .shortcut>* {
    margin-bottom: 30px;
  }

  .csc.gap100 {
    margin-top: 504px;
    margin-top: 95vh;
    margin-top: -webkit-calc(100vh - 60px);
    margin-top: calc(100vh - 60px);
  }

  .csc.gap75 {
    margin-top: 378px;
    margin-top: 70vh;
    margin-top: -webkit-calc(75vh - 45px);
    margin-top: calc(75vh - 45px);
  }

  .csc.gap66 {
    margin-top: 332.64px;
    margin-top: 62vh;
    margin-top: -webkit-calc(66.66vh - 39.996px);
    margin-top: calc(66.66vh - 39.996px);
  }

  .csc.gap50 {
    margin-top: 252px;
    margin-top: 45vh;
    margin-top: -webkit-calc(50vh - 30px);
    margin-top: calc(50vh - 30px);
  }

  .csc.gap33 {
    margin-top: 167.9832px;
    margin-top: 28vh;
    margin-top: -webkit-calc(33.33vh - 19.998px);
    margin-top: calc(33.33vh - 19.998px);
  }
}

@media (max-width:639px) {
  [data-csc-cols="2"] .csc-textpic-image {
    max-width: 50%;
  }

  [data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 7.5px;
    padding-left: 0;
  }

  [data-csc-cols="2"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 0;
    padding-left: 7.5px;
  }

  [data-csc-cols="3"] .csc-textpic-image {
    max-width: 33.333333333333%;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 10px;
    padding-left: 0;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 5px;
    padding-left: 5px;
  }

  [data-csc-cols="3"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 0;
    padding-left: 10px;
  }

  [data-csc-cols="4"] .csc-textpic-image {
    max-width: 25%;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 11.25px;
    padding-left: 0;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 7.5px;
    padding-left: 3.75px;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 3.75px;
    padding-left: 7.5px;
  }

  [data-csc-cols="4"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 0;
    padding-left: 11.25px;
  }

  [data-csc-cols="5"] .csc-textpic-image {
    max-width: 20%;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 12px;
    padding-left: 0;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 9px;
    padding-left: 3px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 6px;
    padding-left: 6px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 3px;
    padding-left: 9px;
  }

  [data-csc-cols="5"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 0;
    padding-left: 12px;
  }

  [data-csc-cols="6"] .csc-textpic-image {
    max-width: 16.666666666667%;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 12.5px;
    padding-left: 0;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 10px;
    padding-left: 2.5px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 7.5px;
    padding-left: 5px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 5px;
    padding-left: 7.5px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 2.5px;
    padding-left: 10px;
  }

  [data-csc-cols="6"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 0;
    padding-left: 12.5px;
  }

  [data-csc-cols="7"] .csc-textpic-image {
    max-width: 14.285714285714%;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 12.857142857143px;
    padding-left: 0;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 10.714285714286px;
    padding-left: 2.1428571428571px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 8.5714285714286px;
    padding-left: 4.2857142857143px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 6.4285714285714px;
    padding-left: 6.4285714285714px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 4.2857142857143px;
    padding-left: 8.5714285714286px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 2.1428571428571px;
    padding-left: 10.714285714286px;
  }

  [data-csc-cols="7"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
    padding-right: 0;
    padding-left: 12.857142857143px;
  }

  [data-csc-cols="8"] .csc-textpic-image {
    max-width: 12.5%;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:first-child {
    padding-right: 13.125px;
    padding-left: 0;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(2) {
    padding-right: 11.25px;
    padding-left: 1.875px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(3) {
    padding-right: 9.375px;
    padding-left: 3.75px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(4) {
    padding-right: 7.5px;
    padding-left: 5.625px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(5) {
    padding-right: 5.625px;
    padding-left: 7.5px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(6) {
    padding-right: 3.75px;
    padding-left: 9.375px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(7) {
    padding-right: 1.875px;
    padding-left: 11.25px;
  }

  [data-csc-cols="8"] .csc-textpic-imagerow .csc-textpic-image:nth-child(8) {
    padding-right: 0;
    padding-left: 13.125px;
  }

  .csc-textpic-image {
    padding-bottom: 15px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-text,  .csc-textpic-intext-left .csc-textpic-text {
    padding-left: 12.5px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-left .csc-textpic-imagewrap,  .csc-textpic-intext-right-nowrap .csc-textpic-text,  .csc-textpic-intext-right .csc-textpic-text {
    padding-right: 12.5px;
  }

  .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-right .csc-textpic-imagewrap {
    padding-left: 12.5px;
  }

  .ce {
    width: 94%;
    margin: 25px auto;
  }

  .shortcut>* {
    margin-bottom: 25px;
  }

  .csc.gap100 {
    margin-top: 420px;
    margin-top: 95vh;
    margin-top: -webkit-calc(100vh - 60px);
    margin-top: calc(100vh - 60px);
  }

  .csc.gap75 {
    margin-top: 315px;
    margin-top: 70vh;
    margin-top: -webkit-calc(75vh - 45px);
    margin-top: calc(75vh - 45px);
  }

  .csc.gap66 {
    margin-top: 279.972px;
    margin-top: 62vh;
    margin-top: -webkit-calc(66.66vh - 39.996px);
    margin-top: calc(66.66vh - 39.996px);
  }

  .csc.gap50 {
    margin-top: 210px;
    margin-top: 45vh;
    margin-top: -webkit-calc(50vh - 30px);
    margin-top: calc(50vh - 30px);
  }

  .csc.gap33 {
    margin-top: 139.986px;
    margin-top: 28vh;
    margin-top: -webkit-calc(33.33vh - 19.998px);
    margin-top: calc(33.33vh - 19.998px);
  }

  .w50 {
    float: none;
    width: auto;
    padding: 0;
  }

  div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,  div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
    float: none;
    width: auto!important;
    padding: 12.5px 0 0;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-text,  .csc-textpic-intext-left .csc-textpic-text,  .csc-textpic-intext-right-nowrap .csc-textpic-text,  .csc-textpic-intext-right .csc-textpic-text {
    float: none;
    width: auto!important;
    padding: 0 0 12.5px;
  }

  .csc-textpic {
    width: 100%;
  }
}

html {
  font-size: 108%;
}

body {
  font-size: 1em;
}

#oben {
  padding-top: 96px;
}

#oben:empty {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  margin-bottom: .4em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  font-weight: 400;
}

@media (min-width:1250px) and (max-width:1519px) {
  #oben {
    padding-top: 96px;
  }
}

@media (min-width:970px) and (max-width:1249px) {
  html {
    font-size: 81%;
  }

  body {
    font-size: 1em;
  }

  #oben {
    padding-top: 76px;
  }
}

@media (min-width:640px) and (max-width:969px) {
  #oben {
    padding-top: 60px;
  }
}

@media (max-width:639px) {
  #oben {
    padding-top: 60px;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-weight: 300;
}

#var1,#var2 {
  background: #f6f6f6;
}

#meta {
  margin: 2.1em 0 0;
}

#meta a:link,#meta a:visited {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12.4em;
  margin: 0 0 .9em;
  padding: .3em 1em;
  text-align: center;
  border-radius: 5px;
  background: #898889;
}

#meta a:active,#meta a:focus,#meta a:hover {
  text-decoration: none;
  background: #a3a2a3;
}

.csc-textpic-border img {
  border: 1px solid #ddd;
}

.csc-textpic-imagewrap img {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}

[data-csc-cols="1"] .csc-textpic-image {
  float: none;
  text-align: center;
}

.csc-textpic-intext-left-nowrap .csc-textpic-text,.csc-textpic-intext-left .csc-textpic-text,.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,.csc-textpic-intext-right .csc-textpic-imagewrap {
  padding-left: 20px;
}

.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,.csc-textpic-intext-left .csc-textpic-imagewrap,.csc-textpic-intext-right-nowrap .csc-textpic-text,.csc-textpic-intext-right .csc-textpic-text {
  padding-right: 20px;
}

.csc a {
  font-weight: 400;
}

.csc a h1,.csc a h2,.csc a h3,.csc a h4,.csc a h5,.csc a h6,.csc h1 a,.csc h2 a,.csc h3 a,.csc h4 a,.csc h5 a,.csc h6 a {
  font-weight: 300;
}

body h1,body h2,body h3,body h4,body h5,body h6,h1,h1 a,h2,h2 a,h3,h3 a,h4,h4 a,h5,h5 a,h6,h6 a {
  font-weight: 300;
}

@-webkit-keyframes c {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(-1turn);
    transform: rotateY(-1turn);
  }
}

@-o-keyframes c {
  0% {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-1turn);
  }
}

@keyframes c {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(-1turn);
    transform: rotateY(-1turn);
  }
}

.fxhoverspotlight .csc {
  -webkit-transition: opacity .4s .1s;
  -o-transition: opacity .4s .1s;
  transition: opacity .4s .1s;
  opacity: 1;
}

@media (min-width:970px) {
  body h1 {
    font-size: 2.5em;
  }

  body h2 {
    font-size: 2.2em;
  }

  body h3 {
    font-size: 1.8em;
  }
}

@media (min-width:970px) and (max-width:1249px) {
  #meta {
    margin: 1.9em 0 0;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-text,  .csc-textpic-intext-left .csc-textpic-text,  .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-right .csc-textpic-imagewrap {
    padding-left: 12px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-left .csc-textpic-imagewrap,  .csc-textpic-intext-right-nowrap .csc-textpic-text,  .csc-textpic-intext-right .csc-textpic-text {
    padding-right: 12px;
  }
}

@media (max-width:969px) {
  body h1 {
    font-size: 2em;
  }

  body h2 {
    font-size: 1.7em;
  }

  body h3 {
    font-size: 1.4em;
  }

  #meta {
    display: none;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-text,  .csc-textpic-intext-left .csc-textpic-text,  .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-right .csc-textpic-imagewrap {
    padding-left: 10px;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-left .csc-textpic-imagewrap,  .csc-textpic-intext-right-nowrap .csc-textpic-text,  .csc-textpic-intext-right .csc-textpic-text {
    padding-right: 10px;
  }

  .tabletnofloat .w50 {
    float: none;
    clear: left;
    width: auto;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width:639px) {
  .csc-textpic-intext-left-nowrap .csc-textpic-text,  .csc-textpic-intext-left .csc-textpic-text,  .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-right .csc-textpic-imagewrap {
    padding-left: 0;
  }

  .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap,  .csc-textpic-intext-left .csc-textpic-imagewrap,  .csc-textpic-intext-right-nowrap .csc-textpic-text,  .csc-textpic-intext-right .csc-textpic-text {
    padding-right: 0;
  }
}

@media (max-width:500px) {
  #oben {
    padding-top: 96px;
  }

  #var1 #oben,  #var3 #oben {
    padding-top: 84px;
  }
}

p {
  margin: 0 0 .8em;
}

h1 {
  font-size: 2.7em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

.color5 {
  color: #0c7bef;
}

.color6 {
  color: #ed100c;
}

.color7 {
  color: #79ed0c;
}

.color8 {
  color: #eaed0c;
}

/*# sourceMappingURL=maps/home.css.map */